@import url(https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* .home{
    height: 100vh;
} */
.home{
    height: 100vh;
}
.home__bg{
    background: url(../src/img/remov_bg.png);
    background-color: black;
    background-position: 50% ;
    background-size: cover;
    background-repeat: no-repeat;
    /* height: 50vh; */
}
li img{
    width: 30px;
    margin: 10px 15px;
}
li.nav__items{
    font-size: 18px;
    padding-bottom: 15px;
    transition: 0.4s ease-in-out;
}
.home__content{
    padding: 0px 25px;
    transform: translateY(-250px);
    
}
h1.home__text{
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 3px;
    color: rgba(198, 201, 216, .75)!important;
}
h2.home__text{
    font-size: 54px;
    line-height: 54px;
    font-weight: 800;
    font-family: Montserrat, sans-serif ;
    color: #fff ;
}
h3.home__text{
    font-size: 50px;
    font-weight: 800;
    font-family:  Montserrat, sans-serif ;
    line-height: 40px;
}
h4.home__text{
    font-size: 50px;
    font-weight: 800;
    font-family:  Montserrat, sans-serif ;
    line-height: 40px;
    color: #fff;
}
.header{
    transition: .4s all ease;
}
/* .header.active{
    position: fixed;
    z-index: 1000;
    width: 100%;
    padding: 0px 20px;
  
} */



ul.sidebar.d__flex{
    flex-wrap: wrap;
    height: 100%;
    position: fixed;
    right: 0%;
    justify-content: center;
    background: #010101;
    width: 300px;
    top: 0;
    flex-direction: column;
    transform: translateX(300px);
}
li.sideNavbar{
    padding: 25px 30px;
}
.navigation img{
    width:30px;
    margin-bottom:15px;
    bottom: 15px;
}
@media only screen and (max-width: 2560px){
    .toogle__menu{
        display: none;
    }
    .navbar  {
        margin-bottom: 800px;
     }
     
    
}
@media only screen and (max-width: 1440px){
    .toogle__menu{
        display: none;
    }
    .navbar{
        margin-bottom: 600px;
}
}
@media only screen and (max-width: 1024px){
    .toogle__menu{
        display: none;
    }
}


@media only screen and (max-width:768px){
   body{
       font-size: 15px;
   }
    .header{
        justify-content: space-between;
    }
    h2.white.pz__10{
        font-size: 50px!important;
    }
    svg.bi-bi-list.white.pointer{
        width: 30px;
        height: 30px;
    }
   
    
}
@media only screen and (max-width: 425px){
    .navbar{
        display: none;
    }
    .navigation.pxy__30{
        display: none;
    }
     h2.home__text{
        font-size: 30px;
      }
      h3.home__text{
          font-size: 30px;
      }
}
@media only screen and (max-width: 375px){
    .home__bg{
        background-position: 60%;
    }

}
@media only screen and (max-width: 320px){
    .navbar{
        display: none;
      }
     h2.home__text{
        font-size: 20px;
      }
      h3.home__text{
          font-size: 20px;
      }
      li.rasm{
          height: 50vh;
          width: 50%;
      }
      .home__bg{
          background-size: cover;
          background-position: 70%;
      }
}
